In [4]:
import pandas as pd
import numpy as np

In [5]:
reviews = pd.read_csv("data/reviews.csv")
calendar = pd.read_csv("data/calendar.csv", dtype={"listing_id": str,
                                                   "date": str,
                                                   "available": str,
                                                   "price": str,
                                                   "adjusted_price": str,
                                                   "minimum_nights": str,
                                                   "maximum_nights": str})
listings = pd.read_csv("data/listings.csv")
neighbourhoods = pd.read_csv("data/neighbourhoods.csv")
d_listings = pd.read_csv("data/d_listings.csv")
d_reviews = pd.read_csv("data/d_reviews.csv")

In [6]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,27116,74854,2010-08-07,116950,David,Loved it... amazing place. great value. awesom...
1,217591,570688,2011-09-26,1134607,Uri,"The apartment was outstanding, A great locatio..."
2,217591,799402,2011-12-22,1278342,Fabio,Belle adresse. A deux pas des points touristiq...
3,217591,1092163,2012-04-07,1493083,Florence,c'est un appartement ayant tout le charme de V...
4,217591,1183365,2012-04-26,1422744,Anne Marie,"superbe appartement très bien placé, un accuei..."

In [7]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,27116,2024-03-11,f,$120.00,NaN,2,1125
1,27116,2024-03-12,f,$120.00,NaN,2,1125
2,27116,2024-03-13,f,$120.00,NaN,2,1125
3,27116,2024-03-14,f,$120.00,NaN,2,1125
4,27116,2024-03-15,f,$120.00,NaN,2,1125

In [8]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,684809437988328502,https://www.airbnb.com/rooms/684809437988328502,20240310234931,2024-03-11,city scrape,Fashion large flat Central Venice,Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/39f8b9e4-83e6...,19526057,...,4.50,4.75,4.75,NaN,f,31,22,9,0,0.21
1,1064559460070742972,https://www.airbnb.com/rooms/1064559460070742972,20240310234931,2024-03-11,city scrape,venice rooms arian - room 15,"Due to its strategic location, this space offe...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,555261009,...,NaN,NaN,NaN,NaN,t,24,1,23,0,NaN
2,42949852,https://www.airbnb.com/rooms/42949852,20240310234931,2024-03-11,city scrape,Admiral Home Central Venice N1,"In Riva di Biasio, just a few minutes away by ...",NaN,https://a0.muscache.com/pictures/ccbd712c-9953...,341878853,...,4.25,4.75,4.00,NaN,t,18,0,18,0,0.16
3,44570878,https://www.airbnb.com/rooms/44570878,20240310234931,2024-03-11,city scrape,Belvilla by OYO Appartamento N26,Unleash your fantasies and create a memorable ...,NaN,https://a0.muscache.com/pictures/b4ce00b2-7cc4...,270230010,...,NaN,NaN,NaN,NaN,t,27,27,0,0,NaN
4,826883287415861106,https://www.airbnb.com/rooms/826883287415861106,20240310234931,2024-03-11,city scrape,La Dogaressa Guest House,The accommodation is located 300 meters from t...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,501093517,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.17

In [9]:
neighbourhoods.head()

  neighbourhood_group neighbourhood
0               Isole      Alberoni
1               Isole        Burano
2               Isole    Cannaregio
3               Isole      Castello
4               Isole     Dorsoduro

In [10]:
d_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,684809437988328502,Fashion large flat Central Venice,19526057,Mirko,Isole,Cannaregio,45.440580,12.335800,Entire home/apt,169.0,2,4,2022-10-09,0.21,31,365,0,NaN
1,1064559460070742972,venice rooms arian - room 15,555261009,Andi,Terraferma,Piave 1860,45.488923,12.244380,Private room,60.0,1,0,NaN,NaN,24,81,0,NaN
2,42949852,Admiral Home Central Venice N1,341878853,Stefano,Isole,Santa Croce,45.442070,12.325640,Private room,85.0,1,4,2024-02-01,0.16,18,5,1,NaN
3,44570878,Belvilla by OYO Appartamento N26,270230010,Iris - BELVILLA,Terraferma,Piave 1860,45.483150,12.241960,Entire home/apt,15960.0,1,0,NaN,NaN,27,365,0,NaN
4,826883287415861106,La Dogaressa Guest House,501093517,Raffaella,Isole,Santa Croce,45.440276,12.332061,Private room,172.0,2,2,2023-05-16,0.17,1,331,2,NaN

In [11]:
d_reviews.head()

   listing_id        date
0       27116  2010-08-07
1       27116  2010-09-12
2       27116  2010-09-29
3       27116  2010-10-04
4       27116  2010-10-18