In [1]:
from tqdm.notebook import tqdm
import pandas as pd
import os
import re
import matplotlib.pyplot as plt

tqdm.pandas()

In [ ]:
## Run the following to compute the mappings for host locations
#!python3 -m scripts.mappings_host_location_all_cities

## Load Visualization Pipeline
#!python3 -m scripts.pipeline_all_cities_viz

## Load ML pipeline
#!python3 -m scripts.pipeline_ML

In [2]:
df = pd.read_pickle("data/pickles/total_listings_exploration_handling.pkl")

In [3]:
df.isna().sum()

host_id                       0
host_response_rate         7373
price                      4735
host_since                    0
first_review                  0
last_review                   0
host_location              6461
host_response_time         7373
host_is_superhost          1938
host_listings_count           0
host_has_profile_pic          0
host_identity_verified        0
neighbourhood_cleansed        0
latitude                      0
longitude                     0
property_type                 0
room_type                     0
accommodates                  0
bathrooms_text                0
minimum_nights                0
maximum_nights                0
number_of_reviews             0
review_scores_rating          0
reviews_per_month             0
listing_city                  0
listing_city_pop              0
email_verification            0
phone_verification            0
work_email_verification       0
amenities_AC/heating          0
amenities_technology          0
amenities_kitchen             0
amenities_benefits            0
dtype: int64

In [4]:
df.head()

,host_id,host_response_rate,price,host_since,first_review,last_review,host_location,host_response_time,host_is_superhost,host_listings_count,...,reviews_per_month,listing_city,listing_city_pop,email_verification,phone_verification,work_email_verification,amenities_AC/heating,amenities_technology,amenities_kitchen,amenities_benefits
id,,,,,,,,,,,,,,,,,,,,,
31840,380378,100.0,122.0,2011-02-07,2010-06-23,2024-06-08,0.857548,within an hour,f,39.0,...,0.77,Florence,367150,t,t,t,2,2,6,2
32120,99235,100.0,95.0,2010-03-26,2010-09-26,2023-10-09,1.976853,within an hour,f,1.0,...,0.16,Ponte a Ema,8412,t,t,f,2,2,1,0
32180,13925330,100.0,109.0,2014-04-05,2010-06-17,2023-12-06,0.992744,within a day,t,1.0,...,0.20,Florence,367150,t,t,f,1,2,7,0
39115,167739,100.0,104.0,2010-07-15,2010-09-07,2024-05-15,0.654212,within a few hours,f,10.0,...,0.46,Florence,367150,t,t,t,2,3,0,5
39165,167739,100.0,121.0,2010-07-15,2010-12-17,2024-04-08,0.654212,within a few hours,f,10.0,...,0.13,Florence,367150,t,t,t,2,3,1,4

## Visualize neighbourhoods

In [ ]:
neigh_list = df["neighbourhood_cleansed"].tolist()
neigh_counter = {x:neigh_list.count(x) for x in neigh_list}
neigh_counter = dict(sorted(neigh_counter.items(), key=lambda item: item[1], reverse=True))

neigh_counter