In [1]:
from tqdm.notebook import tqdm
import pandas as pd
import os
import re
from pandarallel import pandarallel
import plotly.express as px

pandarallel.initialize(progress_bar=True)
tqdm.pandas()

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
datasets = {}
for file in os.listdir("../data/all_cities"):
    pattern = r'_(\w{2})'
    match = re.search(pattern, file)
    result = match.group(1)
    datasets[f"df_{result}"] = pd.read_csv(f"../data/all_cities/{file}")
df = pd.concat([value for key, value in datasets.items()], ignore_index=True)

In [3]:
df_final = pd.read_pickle("../data/pickles/total_listings_exploration_handling.pkl")
df_final.head()

,host_id,host_response_rate,price,host_since,first_review,last_review,host_location,host_response_time,host_is_superhost,host_listings_count,...,amenities_first-aid-kit,amenities_dishwasher,amenities_long-term-stays,amenities_pets-allowed,amenities_bathtube,amenities_bbq-grill,amenities_lake-bay-view,x_coord,y_coord,z_coord
id,,,,,,,,,,,,,,,,,,,,,
31840,380378,100,122.0,2011-02-07,2010-06-23,2024-06-08,0.857548,within_an_hour,f,39.0,...,f,f,f,f,f,f,f,0.248455,-0.946968,-0.203770
32120,99235,100,95.0,2010-03-26,2010-09-26,2023-10-09,1.976853,within_an_hour,f,1.0,...,f,f,f,f,f,f,f,0.271372,-0.937242,-0.218939
32180,13925330,100,109.0,2014-04-05,2010-06-17,2023-12-06,0.992744,more_than_one_hour,t,1.0,...,f,t,t,f,f,f,f,0.239778,-0.947320,-0.212348
39115,167739,100,104.0,2010-07-15,2010-09-07,2024-05-15,0.654212,more_than_one_hour,f,10.0,...,f,f,f,f,f,f,f,0.248757,-0.946499,-0.205571
39165,167739,100,121.0,2010-07-15,2010-12-17,2024-04-08,0.654212,more_than_one_hour,f,10.0,...,f,f,f,f,f,f,f,0.248757,-0.946499,-0.205571

In [ ]:
df_final.loc[df_final["listing_city"].isin(["Venice", "Mestre", "Marghera", "Lido"])]

In [ ]:
more_10k = [int(i) for i in df_final.loc[df_final["price"]> 10000].index.tolist()]

df.loc[df["id"].isin(more_10k),:]

## To drop because price is unreasonably high

- 1106605042088463946
- 1019376983112027182
- 817264445250966450
- 726704791282082694
- 40577782

In [ ]:
rows_to_drop = [
    1106605042088463946,
    1019376983112027182,
    817264445250966450,
    726704791282082694,
    40577782
]
df_final.drop(rows_to_drop, axis=0, inplace=True)

## Price analysis

In [ ]:
fig = px.histogram(df_final.loc[df_final["price"]<1000], x = "price")
fig.show()

In [ ]:
fig = px.scatter(df_final,
                 x="review_scores_rating",
                 y="price",
                 log_y=True
                 )
fig.show()

In [ ]:
fig = px.histogram(df_final, x = "price", log_x=True)
fig.show()